@CHARSET "UTF-8";
/*= Reset =*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, p, blockquote, th, td, figure {
    margin: 0;
    padding: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

caption, th {
    font-weight: normal;
    text-align: left;
}

fieldset, img {
    border: 0;
}

ul li {
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
}

h5 {
    font-size: 18px;
    margin-bottom: 20px;
    color: #666;
}

h5 span {
    font-size: 12px;
    color: #ccc;
    font-weight: normal;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: "";
}

html {
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
}

body {
    font: normal 14px/24px "Helvetica Neue", Helvetica, STheiti, "Microsoft Yahei", "冬青黑体简体中文 w3", 宋体, Arial, Tahoma, sans-serif, serif;
    word-wrap: break-word;
    background: #f0f0f0;
}

input, button, textarea, select, option, optiongroup {
    font-family: inherit;
    font-size: inherit;
}

code, pre {
    font-family: "Microsoft YaHei", Consolas, "Courier New", monospace;
}

.bw0 {
    border: none !important;
}

*:focus {
    outline: 0;
}

legend {
    color: #000;
}

input, select {
    vertical-align: middle;
}

button {
    overflow: visible;
}

input.button, button {
    cursor: pointer;
}

button, input, select, textarea {
    margin: 0;
}

textarea {
    overflow: auto;
    resize: none;
}

label[for], input[type="button"], input[type="submit"], input[type="reset"] {
    cursor: pointer;
}

input[type="button"]::-moz-focus-inner, input[type="submit"]::-moz-focus-inner, input[type="reset"]::-moz-focus-inner, button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #1C3D72
}

img {
    -ms-interpolation-mode: bicubic;
}

/* new clearfix */
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

* html .clearfix {
    zoom: 1;
}

/* IE6 */
*:first-child + html .clearfix {
    zoom: 1;
}

/* IE7 */
.hidden {
    display: none;
}

.last {
    border-bottom: none !important;
}

blockquote {
    background: #f9f9f9;
    padding: 8px 20px;
    border: 1px solid #ccc;
}

.page {
    display: table;
    margin: 10px auto;
    background: #f0f0f0;
    -moz-box-shadow: 0 5px 20px #CCCCCC;
    -webkit-box-shadow: 0 5px 20px #CCCCCC;
    box-shadow: 0 5px 20px #CCCCCC;
    /*border-radius: 5px;*/
}

.about {
    box-shadow: 0;
    -webkit-box-shadow: 0;
    -moz-box-shadow: 0;
}

.header {
    width: 1040px;
    height: 90px;
    margin: 0 auto;
    padding: 0 50px;
    z-index: 8;
    background: #fff;
}

.logo {
    margin: 22px 0 0 0;
    float: left;
    display: inline;
}

.link {
    margin-top: 30px;
    float: right;
    text-align: right;
    _width: 718px;
}

.link li {
    float: left;
    display: inline;
    margin-left: 60px;
}

.link li a {
    color: #4F4E4E;
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 6px;
    display: block;
}

.link li.active {
    border-bottom: 2px solid #f17c67;
}

.link li.active a {
    color: #f17c67
}

.link li:hover {
    border-bottom: 2px solid #f17c67;
    color: #f17c67
}

.link li a:hover {
    color: #f17c67
}

.adlist {
    padding: 20px;
}

.adlist li {
    float: left;
    diaplay: inline;
    margin-left: 30px;
    margin-bottom: 20px;
    width: 110px;
}

.hr {
    border-top: 1px solid #CCD5DE;
    font-size: 0;
    height: 0;
    line-height: 0;
    margin: 15px 0;
}

.red {
    color: #0065CB;
    font-size: 15px;
}

/* 设置滚动条的样式 */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

/* 滚动槽 */
::-webkit-scrollbar-track {
    background: color-white;
}

/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background: rgba(241, 124, 103, 0.75);
}

::-webkit-scrollbar-thumb:hover {
    background: #f17c67;
}
