/*  把padding和border算入宽度 */
* {
    box-sizing: border-box;
}

/* 设置li样式 */
#myUL li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #f0f0f0;
    font-size: 18px;
    transition: 0.2s;
    user-select: none; /*用户不能文本选中*/
}

/* 奇数li颜色不同，为了美观 */
#myUL li:nth-child(even) {
    background: #f9f9f9;
}

/* hover时背景色改变 */
#myUL li:hover {
    background: #ddd;
}


/* 设置滚动条的样式 */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
/* 滚动槽 */
::-webkit-scrollbar-track {
    background: #fff;
}
/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background: rgba(238,238,238,0.75);
}
::-webkit-scrollbar-thumb:hover {
    background: #ddd;
}